spring:
  application:
    name: catalog-service

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate

    open-in-view: false
#  flyway:
#    locations: classpath:/db/migration/{vendor}

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:15432/postgres}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}


server:
  port: 8081
  shutdown: graceful

logging:
  level:
    root: INFO
    org:
      flywaydb: DEBUG
catalog:
  page-size: 10

management:
  endpoints:
    web:
      exposure:
        include: '*'
  info:
    git:
      mode: full




