spring:
  application:
    name: catalog-service
  ######## Database Configuration  #########
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:15432/postgres}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
   open-in-view: false

server:
  port: 8081
  shutdown: graceful

######## Catalog Service Configuration  #########
catalog:
  page-size: 10

######## Swagger Configuration  #########
swagger:
  api-gateway-url: http://localhost:8989/catalog

######## Actuator Configuration  #########
management:
  info:
   git:
    mode: full
  endpoints:
    web:
     exposure:
         include: '*'
  metrics:
    tags:
      application: ${spring.application.name}
  tracing:
    enabled: false
    sampling:
      probability: 1.0 # 100% sampling so if it is enabled send all traces to tracing system
