### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.gitattributes
.mvn
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.cmd
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/.DS_Store
build/
mvnw

### VS Code ###
.vscode/