name: 'bookstore-app-microservices'
services:
  catalog-db:
    image: postgres:18-alpine
    container_name: catalog-db # hostname or container for catalog service
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - "15432:5432" # external:internal port mapping for the catalog-db hostname
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5
    deploy:
      resources:
        limits:
          memory: 500m