<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" >-->
<!--    <title>Products</title>-->
<!--    <link rel='stylesheet' href='/webjars/bootstrap/5.3.8/css/bootstrap.css'>-->
<!--    <link rel='stylesheet' href='/webjars/font-awesome/7.0.1/css/all.css'>-->
<!--    <link rel='stylesheet' href='/css/style.css'>-->
<!--</head>-->
<body>
<div layout:fragment="content">
    <div th:x-data="|initData('${pageNo}')|">
        <div th:replace="~{fragments/pagination :: pagination}"> </div>
        <div class="row row-cols-1 row-cols-md-5">
            <template x-for="product in products.data">
                <div class="col mb-3">
                    <div class="card h-100 product">

                        <img :src="product.imageUrl"
                             class="card-img-top"
                             height="300" width="200"
                        />

                        <div class="card-body">
                            <h5 class="card-title"
                                data-toggle="tooltip"
                                data-placement="top"
                                x-text="product.name">product.name</h5>
                            <p class="card-text"
                               data-toggle="tooltip"
                               data-placement="top"
                               x-text="'Price: $'+product.price"
                            >product.price</p>
                        </div>
                        <div class="card-footer" style="background: transparent; border-top: 0;">
                            <div class="d-grid gap-2">
                                <button class="btn btn-primary" @click="addToCart(product)">
                                    Add to Cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</div>
<div layout:fragment="pageScripts">
<script src="/js/products.js"></script>
</div>



<!--<div layout:fragment="content">-->
<!--    <div th:x-data="|initData('${pageNo}')|">-->
<!--    <h1> Display products here</h1>-->
<!--    </div>-->
<!--</div>-->
<!--<div layout:fragment="pageScripts">-->
<!--    &lt;!&ndash; Your Page Specific Scripts Here &ndash;&gt;-->
<!--    <script src="/js/products.js"></script>-->
<!--</div>-->
<!--<h1>Welcome to BookStore</h1>-->
<!--<button class="btn btn-primary">Click</button>-->
<!--<script src="/webjars/jquery/3.7.1/jquery.js"></script>-->
<!--<script src="/webjars/bootstrap/5.3.8/js/bootstrap.bundle.js"></script>-->
<!--<script src="/webjars/alpinejs/3.15.0/dist/cdn.min.js"></script>-->
</body>
</html>